{% extends "layout.html" %}

{% block title %}
    Deposit
{% endblock %}

{% block main %}
    <form action="/deposit" id="deposit" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="credit_number" placeholder="Credit Card Number" type="number"/>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="new_money" placeholder="Money" type="number" step="0.01"/>
        </div>
        <button class="btn btn-primary" type="submit">Deposit</button>
    </form>

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- App's own JavaScript -->
    <script src="/static/deposit.js"></script>

{% endblock %}
