{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead align="left">
            <tr>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price Per Share</th>
                <th>Total</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody align="left">
            {% for history in histories %}
                <tr>
                    <td>{{ history["symbol"] }}</td>
                    <td>{{ history["transactions"] }}</td>
                    <td>${{ history["price"] }}</td>
                    <td>${{ history["price"] * history["transactions"] }}</td>
                    <td>{{ history["time_"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}