{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <div id="stock-symbol">{{ stock["symbol"] }}</div>

    <p>
        A share of {{ stock["name"] }} ({{ stock["symbol"] }}) costs {{ price }}.
    </p>

    <div id="graph-container">
        <div class="btn-group btn-graph">
            <button id="1m" class="btn btn-danger">1 Month</button>
            <button id="3m" class="btn btn-primary">3 Months</button>
            <button id="6m" class="btn btn-success">6 Months</button>
            <button id="1y" class="btn btn-info">1 Year</button>
            <button id="2y" class="btn btn-warning">2 Years</button>
            <button id="5y" class="btn btn-danger">5 Years</button>
        </div>
        <div id="stock-graph" class="graph"></div>
    </div>

    <script src="static/scripts/quoted.js"></script>

{% endblock %}