{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/sell" id="sell" method="post">
        <div class="form-group">
            <select class="form-control" name="symbol">
                <option disabled selected value="">Symbol</option>
                    {% for stock in stocks %}
                        <option value="{{ stock["symbol"] }}">{{ stock["symbol"] }}</option>
                    {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input class="form-control" name="shares" min="1" placeholder="Shares" type="number"/>
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
    <script>
        var form = document.getElementById("sell");
        form.onsubmit = function() {
            if(!form.symbol.value)
            {
                alert("Select symbol!");
                return false;
            }
            if(!form.shares.value)
            {
                alert("Enter shares!");
                return false;
            }
            return true;
        }
    </script>
{% endblock %}